{% extends "base_layout.html" %}

{% block title %}About{% endblock %}

{% block content %}
<div class="container">
  <div class="row" id="blurb">
    <h3>Does an orthopedic surgeon have the
        experience to treat your problem?
        <br><br> EigenDoctor helps inform your decision by
        providing an estimate of an orthopedic surgeon's
        sub-specialty based on patterns in his or her Medicare
        2014 billing claims.<h3>
          <br>
  </div><!-- ./row -->

  <div class="row">
    <iframe src="https://docs.google.com/presentation/d/1Rka9bJuRg8LBlnC-XaMLcSgfCI5vTRmZevbMZkgAoco/embed?start=false&loop=false&delayms=3000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
  </div>
  
  <!-- <div class="row"> -->
  <!--   <div class="col-sm-4"> -->
  <!--     <br><br><br><br> -->
  <!--     <h3 id="intro">Does an orthopedic surgeon have the -->
  <!--       experience to treat your problem? -->
  <!--       <br><br> EigenDoctor helps inform your decision by -->
  <!--       providing an estimate of an orthopedic surgeon's -->
  <!--       sub-specialty based on patterns in his or her Medicare -->
  <!--       2014 billing claims.</h3> -->
  <!--   </div> -->
  <!--   <div class="col-sm-8"> -->
  <!--     <iframe src="https://docs.google.com/presentation/d/1Rka9bJuRg8LBlnC-XaMLcSgfCI5vTRmZevbMZkgAoco/embed?start=false&loop=false&delayms=3000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe> -->
  <!--   </div> -->
  <!-- </div><\!-- /.container-\-> -->
</div><!-- /.container-fluid -->
{% endblock %} <!-- end block content -->
